@use "sass:math";

@mixin background-clip($property) {
  background-clip: $property;
  -moz-background-clip: $property;
  -webkit-background-clip: $property;
  color: transparent;
}

@mixin absolute-position($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin box-shadow($x: 0.1rem, $y: 0.2rem, $z: 0.5rem) {
  box-shadow: $x $y $z rgba($black, 0.4);
}

$flexJustifyValues: (center, end, start, space-between);
$flexAlignValues: (center, end, start, strech);
$flexDirections: (column, row);

@each $flexJustify in $flexJustifyValues {
  @each $flexAlign in $flexAlignValues {
    @each $flexDirection in $flexDirections {
      .flex-#{$flexJustify}-#{$flexAlign}-#{$flexDirection} {
        display: flex;
        justify-content: $flexJustify;
        align-items: $flexAlign;
        flex-direction: $flexDirection;
        width: 100%;
      }
    }
  }
}

.input {
  @include flex($direction: column, $justify: center, $align: flex-start);
  width: 100%;
  padding: 1.5rem;
  &__content {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0 1rem;
    &:disabled {
      cursor: not-allowed;
    }
  }
}

.heading-form {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.8em;
  margin-bottom: 0.5rem;
}

$colValues: (1, 2, 3, 4, 5, 6, 7);

@function custom-divide($numerator, $denominator) {
  @if $denominator == 0 {
    @error "Division by zero is not allowed.";
  }
  @return calc(($numerator / $denominator) / 100);
}

@each $value in $colValues {
  .col-#{$value} {
    width: math.percentage(custom-divide(100, $value));
  }
  .col-#{$value}-flex {
    @include flex($justify: center);
    width: math.percentage(custom-divide(100, $value));
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

$values: (1, 2, 3, 4, 5);

@each $value in $values {
  .mb-#{$value} {
    margin-bottom: #{$value}rem;
  }
  .mt-#{$value} {
    margin-top: #{$value}rem;
  }
  .ml-#{$value} {
    margin-left: #{$value}rem;
  }
  .mr-#{$value} {
    margin-right: #{$value}rem;
  }
  .mh-#{$value} {
    margin-right: #{$value}rem;
    margin-left: #{$value}rem;
  }
  .mv-#{$value} {
    margin-top: #{$value}rem;
    margin-bottom: #{$value}rem;
  }
  .m-#{$value} {
    margin: #{$value}rem;
  }

  .pb-#{$value} {
    padding-bottom: #{$value}rem;
  }
  .pt-#{$value} {
    padding-top: #{$value}rem;
  }
  .pl-#{$value} {
    padding-left: #{$value}rem;
  }
  .pr-#{$value} {
    padding-right: #{$value}rem;
  }
  .ph-#{$value} {
    padding-right: #{$value}rem;
    padding-left: #{$value}rem;
  }
  .pv-#{$value} {
    padding-top: #{$value}rem;
    padding-bottom: #{$value}rem;
  }
  .p-#{$value} {
    padding: #{$value}rem;
  }

  .w-#{$value} {
    width: #{$value}rem;
  }
}
