//colors
// $color-primary: #f27121;

// $color-secondary: rgb(233, 64, 87);
// $color-tertiary: rgb(138, 35, 135);
$color-primary: #00B4DB;
$color-secondary: #0083B0;
$color-tertiary: rgb(138, 35, 135);
$color-background: rgb(245, 240, 240);
$color-disabled: rgb(186, 190, 190);
$color-pending: rgba(255, 191, 0, 0.7);
$color-error: rgb(251, 70, 99);
$color-success: rgb(23, 161, 88);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

//fonts
$font-stack: "Roboto Condensed", sans-serif;
$heading-font: "Barlow Condensed", sans-serif;

//widths
$container-width: 1080px;
