@import "../../App.scss";
.banner {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1.2rem;
  margin: 0.5rem;
  &__text {
    font-size: 1.2rem;
  }
}

.warning {
  background-color: $color-pending;
}

.success {
  background-color: $color-success;
}

.error {
  background-color: $color-error;
}
