@import "../../App.scss";

#section-header {
  @include flex($direction: column);
 
  width: 100vw;
  min-height: 10vh;
  background: linear-gradient(to top right, $color-primary, $color-secondary);
  padding: 2rem;
  margin-bottom: 1rem;
}

.header {
  &__info {
    @include flex();
    gap: 1rem;
  }
  &__container {
    width: $container-width;
    @include flex($justify: space-between, $align: flex-start);
  }

  &__logo {
    height: 10rem;
  }

  &__action {
    @include flex();
    &__nav {
      ul {
        @include flex();
        list-style: none;

        li {
          .active {
            color: $color-primary;
          }
          a {
            text-decoration: none;
            color: white;
          }
          margin-right: 2rem;
        }
      }
    }

    &__logout {
      width: 9rem;
    }
  }
}

.content {
  margin-top: 1rem;
}
