@import "../../../App.scss";

.search {
  width: $container-width;
  height: 100vh;
  @include flex($justify: flex-start, $direction: column);

  &__input {
    font-size: 1.6em;
    margin-bottom: 1rem;
    width: 95%;
    input {
      display: block;
    }
    input {
      font-family: $heading-font;
      padding: 0.5rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      width: 100%;
    }

    input:focus {
      outline: none;
      border-color: $color-primary;
      background-color: lighten($color: $color-primary, $amount: 60%);
    }

    &::placeholder {
    }
  }

  &__results {
    @include flex($justify: flex-start, $direction: column);
    width: 80%;
    height: 100%;
    overflow: scroll;
  }
}
