@import "../../App.scss";

.navbar {
  
  @include flex($direction: column);
  &__tabbar {
    @include flex($justify: space-evenly);
    @include box-shadow();
    height: 50px;
    border-radius: 0.5rem;
    color: $white;

    &__input {
      display: none;
    }

    &__input:checked + &__tab {
      background: $white;
      color: $black;
    }

    &__input:hover + &__tab {
      background: $white;
      color: $black;
    }

    &__tab {
      height: 100%;
      @include flex($justify: center, $align: center);
      font-size: 2rem;
      border-radius: 5px 5px 0 5px;
      background: linear-gradient(to right, $color-primary, $color-secondary);
      border: 3px solid $black;
    }
  }
}
